@import '../../App.scss';


.centered-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 93%;
  justify-content: space-between;
  // gap: 50px;
  margin: 0 auto;

  @media screen and (max-width: 900px) {
    padding-top: 0em;
  }
}

.doc-section {
  color: white;
  display: block;
  position: inherit;

  &-h1 {
    text-shadow: 0 0 .2rem rgba(33, 29, 45, .8);
    color: inherit;
    font-weight: 700;
    letter-spacing: -.01em;
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: .7em;

    @media screen and (max-width: 900px) {
      font-size: 1.5rem;
    }
  }

  .catch-phrase-section {
    text-shadow: 0 0 .2rem rgba(33, 29, 45, .8);
    color: #fff;
    font-size: 1rem;
    width: 400px;
    line-height: 1.6;

    @media screen and (min-width: 100px) and (max-width: 600px) {
      width: 80%;
    }

    &-links {

      .catch-phrase-section-button {
        background-color: #db1457;
        transition: color 125ms, background-color 125ms, border-color 125ms;
        border: none;
        padding: 1em 2em;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        border-radius: 3px;

        &:hover {
          background-color: #526cfe;
          transition: color 125ms, background-color 125ms, border-color 125ms;
        }
      }

      span {
        background-color: transparent;
        font-weight: 700;
        cursor: pointer;
        padding: 1em 2em;
        text-align: center;
        border-radius: 3px;

        &:hover {
          background-color: #526cfe;
          transition: color 125ms, background-color 125ms, border-color 125ms;
        }
      }
    }
  }
}

.huge-space {
  height: 800px;
}

.onWheel-wrapper {
  transition: $base-animation;
}

.catch-phrase-section-links {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-content: center;
  row-gap: 1.5em;
  column-gap: 1.5em;
  margin-bottom: 2em;

  @media screen and (max-width: 442px) {
    grid-auto-flow: row;

  }
}