.nav-wrapper {
  width: 60%;
  // margin: 0 auto;
  margin-top: 1.3em;

  @media screen and (max-width: 900px) {
    visibility: hidden;
  }

  .list-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    list-style-type: none;
    font-size: 14px;
    color: white;

    .li-element {
      opacity: .8;
      cursor: pointer;
      z-index: 2;
    }
  }
}